<link href="style/style.css" rel="stylesheet" type="text/css">
<link href="style/hands.css" rel="stylesheet" type="text/css">
<link href="style/helpers.css" rel="stylesheet" type="text/css">


  
  <% your_action = params['action'] %>
  <% computer_action = ['paper', 'scissors', 'rock'].sample %>
  <% result = GameDecider.result(your_action, computer_action) %>

<body class="<%= result %>">
  <div class="Left">
    <div class="hand <%= your_action %>"></div>
    <div class="Player-name">You</div>
  </div>
  <div class="Right">
    <div class="hand <%= computer_action %>"></div>
    <div class="Player-name">Computer</div>
  </div>

  <div class="circle">
    <div class="circle-text vert-center">
      <%= 'You<br>win' if result == 'win' %>
      <%= 'You<br>lose' if result == 'lose' %>
      <%= 'You<br>draw' if result == 'draw' %>
    </div>
  </div>


  <h4>Play again?</h4>
  <a href='/paper'>Paper</a>
  <a href='/scissors'>Scissors</a>
  <a href='/rock'>Rock</a>






  <script src="js/jquery.js"></script>
  <script src="js/script.js"></script>

</body>
